<style>
    body{
        background-color: blanchedalmond;
    }
    header{
        width: 100%;
        background-color: #fee4bd;
    }
    a{
        text-decoration: none;
    }
    h1{
        color: black;
    }
</style>

<body>
    <header>
        <div style="display: flex; gap: 180px;">
            <a href="/personal">
                <h1>Personal</h1>
            </a>
            <a href="/group">
                <h1>Group</h1>
            </a>
        </div>
    </header>
</body>