<%-layout("./layouts/group-boilerplate.ejs")%>
    <title>Document</title>
</head>
<body>
    <h1>personal</h1>
    <div>
        <%-include("./includes/group-footer.ejs")%>
    </div>
</body>
</html>